body {
  text-align: center;
  background: #000;
  color: #fff;
  font-family: Arial;
}

video {
  width: 45%;
  height: 250px;
  margin: 10px;
  background: #444;
  border-radius: 10px;
}

button {
  padding: 15px 25px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background: #00aaff;
  color: #fff;
}
